<header>
    <div class="logo">
        <h1>MUKANI</h1>
        <p>Dashboard</p>
    </div>
    <div class="nav-links"></div>
    <div class="nav-right">
        <ul>
            <li><a href="">
                <div class="icon-header">
                    <div class="user-con">
                        <img src="" alt="">
                    </div>
                </div>
                </a>
            </li>
        </ul>
    </div>
</header>