<aside class="side-bar">
    <div class="side-nav">
        <ul>
            <li><a href="/#home" class="navLinks"><div class="icon-nav"><i class="fas fa-home"></i><h3>home</h3></div></a></li>
            <li><a href="" class="navLinks"><div class="icon-nav"><i class="fas fa-inbox"></i><h3>Inbox</h3></div></a></li>
            <li><a href="/blog" class="navLinks"><div class="icon-nav"><i class="fas fa-blog"></i><h3>Blog</h3></div></a></li>
            <li><a href="/projects" class="navLinks"><div class="icon-nav"><i class="fas fa-clipboard-list"></i><h3>Projects</h3></div></a></li>
            <li><a href="" class="navLinks"><div class="icon-nav"><i class="fas fa-mail-bulk"></i><h3>Mail</h3></div></a></li>
        </ul>
        <ul>
            <li>
                <a href=""><div class="icon-nav"><i class="fas fa-home"></i><h3>MUKANI</h3></div></a>
            </li>
        </ul>
    </div>
</aside>