<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/dashboard.css">
    <script src="https://kit.fontawesome.com/15ae8a5246.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="container">
        <%- include('../layouts/_header.ejs') %> 
    </section> 
    <section class="container">
        <div class="dash-main">
            <%- include('../layouts/_side_nav.ejs') %> 
            <div class="main-container">
                <div class="main-elements">
                    <div class="sub-element-heading">
                        <h1>Blog</h1>
                    </div>
                    <div class="element-box-small">
                        <h3>Create a new blog article</h3>
                        <a href=""><div class="button-blue"><h1>Create Blog Post</h1></div></a>
                    </div>
                </div>
                <div class="sub-elements">
                    <div class="sub-element-heading">
                        <h1>My articles</h1>
                    </div>
                    <div class="element-box-big">
                        <div class="image-box">
                            <img src="/img/colorful-blobs.jpg" alt="">
                        </div>
                        <div class="content-box">
                            <div class="content-title">
                                <h1>Creating the best looking site</h1>
                            </div>
                            <div class="content-description">
                                <p>Created: </p><p>02/12/22</p>
                            </div>
                            <div class="content-actions">
                                <div class="action-update">
                                    <a href=""><div class="update-button"><p>Update article</p></div></a>
                                </div>
                                <div class="action-update" >
                                    <a href=""><div class="update-button" style="background-color: #515151;"><p>Open article</p></div></a>
                                </div>
                                <div class="action-delete">
                                    <form action="">
                                        <button>Delete post</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>