<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/new.css">
    <script src="https://kit.fontawesome.com/15ae8a5246.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="container">
        <%- include('../layouts/_header.ejs') %> 
    </section> 
    <section class="container">
        <div class="dash-main">
            <div class="main-container" style=" width: 100%;">
                <div class="main-elements">
                    <form action="/blog" method="post">
                        <%- include('_form_fields.ejs')%>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        const realbutton = document.getElementById("realfile")
        const newButton = document.getElementById("newButton")
        const imageString = document.getElementById("imageString")

        newButton.addEventListener("click", function() {
            realbutton.click();
        })

        realbutton.addEventListener("change", function() {
            if (realbutton.value) {
                newButton.style.backgroundColor = "#28ca43"
                imageString.value = realbutton.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1]
             } else {
                nameholder.innerHTML = "Add image"
            }
        })
    </script>
</body>
</html>